h1 {
  font-size: 24px;
  font-weight: bolder;
}

br {
  display: block;
  content: ""; 
  margin-top: 3px;
}

nav {
  display: flex;
  justify-content: left;
  align-items: center;
}

nav ul {
  display: flex;
  list-style-type: none;
} 

nav ul > :first-child {
  border-left:1px solid #262626;
}  

nav li {
  border-right:1px solid #262626;
  width: 200px;
}

nav li:hover {
  background:linear-gradient(to bottom, #d3d3d3 5%, #f6f6f6 100%);
  background-color:#262626;
}

#screen {
  height: 100vh;
}