
#goal-button {
  font-family: Arial;
  color: #262626;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  font-weight: 'bold';
  border: none;
  background-color: transparent;
  
}

#goal-list {
  padding-bottom: 10px;
  padding-top: 10px;
}

#logo-text {
  padding: 0px 20px 0px 30px;
  color: rgb(1, 1, 137);
    
}
#total-score {
  font-size: 30px;
  color: rgb(133, 1, 1);
  font-weight: bolder;
  padding: 0px 20px 0px 20px;
}

.update-button {
	background: transparent;
	border: none;
	color:#262626;
	font-family:Arial;
	font-size:16px;
  font-weight: 400;
	text-decoration:none;
  border:1px solid #262626;
  width: auto; 
  float: right; 
}

.update-button:hover {
  background:linear-gradient(to bottom, #d3d3d3 5%, #f6f6f6 100%);
  background-color:#dedede;
}

.formWrap {
	margin-bottom: 10px;
}

#label {
	min-width: 100px;
	display: inline-block;
}

#entry-form {
  padding-top: 30px; 
}